<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Category</th>
    <th>Published</th>
  </tr>
  <%= render partial: 'product', collection: @products %>
</table>
<%= link_to('Add New Product', new_product_path) %>
